{% extends 'base.html.twig' %}

{% block title %}{{ 'title.product'|trans }}{% endblock %}

{% block body %}
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1>{{ 'products'|trans }}</h1>
                <p>
                    <a href="{{ path('product_list') }}" class="btn btn-primary my-2">{{ 'list'|trans }}</a>
                </p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {{ form_start(form, { 'attr': { 'class': 'col-md-12' }}) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.price) }}
                    {{ form_row(form.description) }}

                    {% if form.vars.data.filename is not empty %}
                        <div class="col-sm-4">
                            <img class="card-img-top" src="{{ asset('uploads/files/' ~ form.vars.data.filename) | imagine_filter('product_thumb') }}" alt="thumb" style="height: 225px; display: block;" />
                        </div>
                    {% endif %}

                    {{ form_row(form.image) }}

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
